<a href="https://colab.research.google.com/github/aanchalkhanna72/aanchalkhanna72/blob/main/E22001_AML_Experiment_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**E22001 Aanchal Khanna | 6.6.2022**

Experiment 5: Bootstrapping for Standard Error Calculation

Objective: Calculating and comparing variance, mean of bootstrap samples

In [177]:
#import libraries
import numpy as np
import pandas as pd
import random
from random import choices

In [178]:
#read file
attr=pd.read_csv("https://raw.githubusercontent.com/aanchalkhanna72/aanchalkhanna72/main/attrition.csv")

In [181]:
#top 5 observations
attr.head()

,Age,Attrition,BusinessTravel,Department,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,JobSatisfaction,MaritalStatus,MonthlyIncome,OverTime,TotalWorkingYears,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,DistanceFromHome
0,41,1,Travel_Rarely,Sales,Life Sciences,2,Female,3,2,4,Single,5993,Yes,8,1,6,4,0,5,1
1,49,0,Travel_Frequently,Research & Development,Life Sciences,3,Male,2,2,2,Married,5130,No,10,3,10,7,1,7,8
2,37,1,Travel_Rarely,Research & Development,Other,4,Male,2,1,3,Single,2090,Yes,7,3,0,0,0,0,2
3,33,0,Travel_Frequently,Research & Development,Life Sciences,4,Female,3,1,3,Married,2909,Yes,8,3,8,7,3,0,3
4,27,0,Travel_Rarely,Research & Development,Medical,1,Male,3,1,2,Married,3468,No,6,3,2,2,2,2,2

In [182]:
#consider the "monthly income" column to be the population
pop=attr.MonthlyIncome

**Part 1 - Population mean, variance calculation**

In [183]:
#population mean,variance, standard error
print("Population mean:",pop.mean(),"\n""Population variance:",np.var(pop,ddof=0))

Population mean: 6502.931292517007
Population variance: 22149778.937456165

**Part 2 - Drawing one random sample (without replacement) and calculating sample mean, sample mean variance**

In [189]:
#original sample to be used for bootstrapping later
#generating random sample (s) of size 200 (without replacement)
smpl=pop.sample(200)

In [190]:
#calculating sample mean, sample mean variance
print("Sample mean for 1 random sample:", smpl.mean(), "\nSample mean variance for 1 random sample:",(np.var(pop,ddof=0))/200) #using formula --> population variance/n

Sample mean for 1 random sample: 6598.275
Sample mean variance for 1 random sample: 110748.89468728082

**Part 3 - Drawing 10k random samples (without replacement) and calculating the average of sample means (expected value of sample means) and the variance of sample means**

In [191]:
#generating 10,000 samples of size 200 from P 
xbar=[]
for i in range(10000):
  smpl1=pop.sample(200)
  smean=smpl1.mean()
  xbar.append(smean)
#print(xbar)

In [192]:
#calculating the E(xbar),i.e, mean of sampling means, and Var(xbar) i.e.  variance of sampling means
print("Average of 10k random sample means: ", np.mean(xbar),"\nVariance of 10k random sample means: ", np.var(xbar,ddof=1))

Average of 10k random sample means:  6503.6966385000005
Variance of 10k random sample means:  93704.03484658748

**Comparison:** We observe that the variance of 10,000 sampling means is close, but not equal, to the calculated/theoretical variance of the sampling means (using the formula --> population variance/n) in part 2. The average of sampling means is nearly equal to the population mean in part 1.

**Part 4 - Drawing 10k bootstrap samples from 's' (part 2) and calculating average of sample means and variance of sample means**

In [193]:
#generating bootstrap samples from original sample 's'
boot_smean=[]
for i in range(0,10000):
  boot=choices(list(smpl),k=200)
  bootmean=np.mean(boot)
  boot_smean.append(bootmean)
#print(boot_smean)

In [194]:
#average of bootstrap sample means, variance of bootstrap sample means
print("Average  of 10k bootstrap sample means: ", np.mean(boot_smean),"\nVariance of 10k bootstrap sample means: ", np.var(boot_smean,ddof=1))

Average  of 10k bootstrap sample means:  6602.344415
Variance of 10k bootstrap sample means:  112424.0250312959

**Comparison:** We observe that the variance of 10,000 bootstrap sampling means is very close,but not equal to the variance of the original sample 's' (using the formula --> population variance/n) in part 2. The average of the bootstrap sample means in part 4 is nearly equal to the sample mean in part 2,however, the average of bootstrap sample means is farther away from the population mean, which makes sense, because all bootstrap samples are drawn from one random sample (s) whose mean is different from population mean.

[Github link](https://github.com/aanchalkhanna72/aanchalkhanna72/blob/main/E22001_AML_Experiment_6.ipynb)