<a href="https://colab.research.google.com/github/aanchalkhanna72/aanchalkhanna72/blob/main/E22001_AML_Experiment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**E22001 Aanchal Khanna**

**Experiment 4: Objective - Observing and Comparing Variance of KNN model when Number of Neighbors is Increased**

**Hypothesis: KNN Model with a lower value for number of neighbors is more complex, and will probably have more variance.**

**Let's check if that is reflected in our experiment..**

In [8]:
#importing libraries
import pandas as pd
import numpy as np
from random import sample
from sklearn.neighbors import KNeighborsRegressor
import warnings
warnings.filterwarnings("ignore")

In [10]:
#importing dataset through github url
cars=pd.read_csv("https://raw.githubusercontent.com/aanchalkhanna72/aanchalkhanna72/main/cars.csv",sep=",")
cars.head()

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,Chevrolet Chevelle Malibu,18.0,8,307.0,130,3504,12.0,70,US,NaN,NaN,NaN,NaN
1,Buick Skylark 320,15.0,8,350.0,165,3693,11.5,70,US,NaN,NaN,NaN,NaN
2,Plymouth Satellite,18.0,8,318.0,150,3436,11.0,70,US,For every,"entity,",there are,7 values so this is 1 observation
3,AMC Rebel SST,16.0,8,304.0,150,3433,12.0,70,US,each variable represents a characteristic of ...,NaN,NaN,NaN
4,Ford Torino,17.0,8,302.0,140,3449,10.5,70,US,entity - 406 cars,NaN,NaN,NaN

In [11]:
#selecting columns for analysis
data=cars[["Horsepower","Cylinders","Weight","Displacement","MPG"]]

In [12]:
#checking data head,length
data.head(),len(data)

(   Horsepower  Cylinders  Weight  Displacement   MPG
 0         130          8    3504         307.0  18.0
 1         165          8    3693         350.0  15.0
 2         150          8    3436         318.0  18.0
 3         150          8    3433         304.0  16.0
 4         140          8    3449         302.0  17.0, 406)

**Step 1: Test-Train Split**

In [13]:
#segregating test observation from training data
test=data.sample(n=1,random_state=1)
X_test=test[["Horsepower","Cylinders","Weight","Displacement"]]
y_test=test[["MPG"]]

In [14]:
#creating training set for random sampling and model fitting
train=data[["Horsepower","Cylinders","Weight","Displacement","MPG"]]
#dropping test observation from  train  data
train.drop(test.index,inplace=True)
len(X_test),len(y_test),len(train)

(1, 1, 405)

**Step 2: Drawing 200 Random Samples, Fitting KNN models on respective samples**

**Fitting model on k=2**

In [19]:
y_predictions2=[]
for i in range (1,201):
  #generate 200 random samples  of 80 observations each
  smpl=train.sample(n=80)
  #split training data into predictors and target
  X_train_smpl=smpl[["Cylinders","Horsepower","Weight","Displacement"]]
  y_train_smpl=smpl[["MPG"]]
  #fitting KNN model on each sample
        #Step 1: instantiate learning model
  knn=KNeighborsRegressor(metric='euclidean',n_neighbors=2) #5-NN default using euclidean distance  
        #Step 2: fitting the model
  knn.fit(X_train_smpl,y_train_smpl)
  #predicting the MPG of test observation
  y_pred=knn.predict(X_test)
  y_predictions2.append(y_pred)
print(y_predictions2)

[array([[26.5]]), array([[35.35]]), array([[34.1]]), array([[25.5]]), array([[30.1]]), array([[26.]]), array([[25.5]]), array([[28.85]]), array([[30.1]]), array([[35.]]), array([[29.35]]), array([[34.25]]), array([[30.35]]), array([[30.65]]), array([[32.55]]), array([[29.6]]), array([[26.75]]), array([[25.25]]), array([[33.5]]), array([[32.35]]), array([[32.45]]), array([[31.]]), array([[34.5]]), array([[29.5]]), array([[32.6]]), array([[29.6]]), array([[31.]]), array([[28.]]), array([[26.75]]), array([[23.75]]), array([[27.5]]), array([[29.65]]), array([[32.]]), array([[25.5]]), array([[29.25]]), array([[24.5]]), array([[28.6]]), array([[26.]]), array([[28.25]]), array([[28.85]]), array([[28.]]), array([[29.75]]), array([[32.45]]), array([[32.45]]), array([[30.35]]), array([[27.5]]), array([[30.35]]), array([[29.6]]), array([[30.25]]), array([[29.35]]), array([[28.45]]), array([[30.1]]), array([[30.1]]), array([[33.85]]), array([[30.5]]), array([[28.75]]), array([[29.6]]), array([[27.75]]), array([[33.5]]), array([[35.35]]), array([[28.25]]), array([[29.]]), array([[28.]]), array([[29.6]]), array([[30.]]), array([[28.65]]), array([[26.5]]), array([[30.5]]), array([[34.45]]), array([[24.5]]), array([[30.35]]), array([[30.6]]), array([[31.]]), array([[32.6]]), array([[32.5]]), array([[28.95]]), array([[29.6]]), array([[27.75]]), array([[25.5]]), array([[32.25]]), array([[28.]]), array([[33.6]]), array([[31.]]), array([[29.5]]), array([[32.5]]), array([[28.85]]), array([[34.5]]), array([[27.75]]), array([[28.]]), array([[33.85]]), array([[29.6]]), array([[32.8]]), array([[32.15]]), array([[35.35]]), array([[25.]]), array([[32.55]]), array([[26.]]), array([[25.75]]), array([[26.]]), array([[31.5]]), array([[28.5]]), array([[29.]]), array([[25.25]]), array([[28.25]]), array([[25.5]]), array([[28.6]]), array([[28.6]]), array([[37.9]]), array([[29.6]]), array([[29.6]]), array([[28.]]), array([[33.85]]), array([[29.5]]), array([[26.]]), array([[30.1]]), array([[29.]]), array([[25.5]]), array([[27.]]), array([[28.95]]), array([[28.6]]), array([[30.35]]), array([[29.]]), array([[32.45]]), array([[33.5]]), array([[29.85]]), array([[34.45]]), array([[24.]]), array([[33.6]]), array([[33.6]]), array([[33.45]]), array([[24.5]]), array([[25.]]), array([[26.]]), array([[26.5]]), array([[30.1]]), array([[28.85]]), array([[31.95]]), array([[27.]]), array([[28.75]]), array([[34.45]]), array([[28.]]), array([[24.]]), array([[29.75]]), array([[29.85]]), array([[33.6]]), array([[24.]]), array([[30.15]]), array([[28.25]]), array([[23.]]), array([[26.95]]), array([[34.35]]), array([[26.]]), array([[35.]]), array([[34.45]]), array([[26.5]]), array([[29.]]), array([[35.]]), array([[30.5]]), array([[24.5]]), array([[34.5]]), array([[35.35]]), array([[31.]]), array([[23.75]]), array([[36.65]]), array([[28.]]), array([[25.5]]), array([[28.6]]), array([[30.1]]), array([[27.7]]), array([[33.6]]), array([[27.]]), array([[32.5]]), array([[31.75]]), array([[30.1]]), array([[30.25]]), array([[25.5]]), array([[25.]]), array([[29.5]]), array([[27.5]]), array([[29.25]]), array([[27.75]]), array([[29.4]]), array([[25.5]]), array([[28.5]]), array([[25.25]]), array([[29.65]]), array([[29.25]]), array([[27.75]]), array([[28.85]]), array([[22.5]]), array([[29.95]]), array([[29.6]]), array([[27.7]]), array([[27.]]), array([[24.5]]), array([[30.85]]), array([[27.]]), array([[30.85]]), array([[30.5]]), array([[36.]])]

In [20]:
#calcualting variance of the DT model
variance=(np.sum(np.asarray(y_predictions2)**2)/200-1)-(np.mean(y_predictions2)**2)
variance

8.566006000000016

In [21]:
#double checking variance of the DT model
np.var(y_predictions2)

9.566006

**Fitting model on k=10**

In [22]:
y_predictions10=[]
for i in range (1,201):
  #generate 200 random samples  of 80 observations each
  smpl=train.sample(n=80)
  #split training data into predictors and target
  X_train_smpl=smpl[["Cylinders","Horsepower","Weight","Displacement"]]
  y_train_smpl=smpl[["MPG"]]
  #fitting KNN model on each sample
        #Step 1: instantiate learning model
  knn=KNeighborsRegressor(metric='euclidean',n_neighbors=10) #5-NN default using euclidean distance  
        #Step 2: fitting the model
  knn.fit(X_train_smpl,y_train_smpl)
  #predicting the MPG of test observation
  y_pred=knn.predict(X_test)
  y_predictions10.append(y_pred)
print(y_predictions10)

[array([[31.71]]), array([[31.79]]), array([[29.63]]), array([[29.62]]), array([[31.55]]), array([[31.14]]), array([[32.2]]), array([[32.09]]), array([[32.86]]), array([[30.07]]), array([[28.14]]), array([[30.65]]), array([[31.15]]), array([[30.66]]), array([[31.69]]), array([[30.71]]), array([[27.45]]), array([[29.34]]), array([[31.]]), array([[29.86]]), array([[31.85]]), array([[27.61]]), array([[24.27]]), array([[30.37]]), array([[30.98]]), array([[32.43]]), array([[31.06]]), array([[31.33]]), array([[30.69]]), array([[29.18]]), array([[28.67]]), array([[30.15]]), array([[29.49]]), array([[31.31]]), array([[30.99]]), array([[28.2]]), array([[32.42]]), array([[30.68]]), array([[33.19]]), array([[29.03]]), array([[31.26]]), array([[29.83]]), array([[29.84]]), array([[32.68]]), array([[28.28]]), array([[28.]]), array([[30.91]]), array([[33.57]]), array([[33.06]]), array([[30.96]]), array([[28.61]]), array([[28.79]]), array([[30.86]]), array([[32.06]]), array([[28.64]]), array([[28.6]]), array([[29.95]]), array([[29.16]]), array([[31.47]]), array([[28.77]]), array([[29.05]]), array([[31.27]]), array([[26.28]]), array([[28.78]]), array([[32.9]]), array([[29.57]]), array([[31.91]]), array([[27.74]]), array([[29.03]]), array([[29.84]]), array([[29.82]]), array([[31.01]]), array([[29.86]]), array([[30.18]]), array([[28.45]]), array([[27.82]]), array([[29.15]]), array([[28.42]]), array([[31.43]]), array([[30.05]]), array([[27.73]]), array([[31.3]]), array([[29.43]]), array([[31.09]]), array([[27.65]]), array([[27.4]]), array([[29.95]]), array([[29.75]]), array([[28.77]]), array([[31.05]]), array([[29.84]]), array([[27.15]]), array([[30.26]]), array([[29.69]]), array([[29.76]]), array([[30.2]]), array([[30.25]]), array([[29.68]]), array([[30.13]]), array([[27.95]]), array([[28.97]]), array([[31.97]]), array([[27.55]]), array([[26.5]]), array([[30.19]]), array([[28.85]]), array([[31.78]]), array([[29.06]]), array([[29.03]]), array([[31.68]]), array([[29.09]]), array([[29.45]]), array([[28.49]]), array([[28.75]]), array([[29.54]]), array([[30.26]]), array([[27.15]]), array([[30.33]]), array([[28.72]]), array([[30.52]]), array([[29.1]]), array([[28.33]]), array([[30.04]]), array([[31.66]]), array([[33.4]]), array([[29.48]]), array([[31.03]]), array([[30.59]]), array([[31.02]]), array([[29.3]]), array([[30.]]), array([[30.65]]), array([[30.07]]), array([[26.86]]), array([[32.22]]), array([[31.04]]), array([[31.71]]), array([[30.85]]), array([[27.16]]), array([[29.57]]), array([[28.56]]), array([[28.48]]), array([[30.99]]), array([[27.32]]), array([[31.53]]), array([[30.24]]), array([[29.91]]), array([[28.43]]), array([[29.81]]), array([[32.49]]), array([[28.5]]), array([[28.86]]), array([[28.44]]), array([[28.95]]), array([[31.58]]), array([[31.16]]), array([[29.8]]), array([[27.91]]), array([[29.56]]), array([[29.55]]), array([[28.63]]), array([[30.44]]), array([[31.28]]), array([[31.39]]), array([[27.02]]), array([[33.95]]), array([[26.72]]), array([[27.05]]), array([[30.46]]), array([[29.34]]), array([[31.98]]), array([[28.]]), array([[27.79]]), array([[29.85]]), array([[31.47]]), array([[31.94]]), array([[32.38]]), array([[28.65]]), array([[28.05]]), array([[29.83]]), array([[28.76]]), array([[27.41]]), array([[26.85]]), array([[28.15]]), array([[28.67]]), array([[30.91]]), array([[30.44]]), array([[27.01]]), array([[30.38]]), array([[29.23]]), array([[29.92]]), array([[31.83]]), array([[28.04]]), array([[30.09]]), array([[28.73]]), array([[32.14]]), array([[27.98]]), array([[31.3]]), array([[30.2]]), array([[29.31]])]

In [23]:
#calcualting variance of the DT model
variance=(np.sum(np.asarray(y_predictions10)**2)/200-1)-(np.mean(y_predictions10)**2)
variance

1.6570647499997904

In [24]:
#double checking variance of the DT model
np.var(y_predictions10)

2.65706475

**Result: Our hypothesis is proved correct. The KNN model with k=2 has higher variation in the model as for each new observation, the model tries to predict the new target value using only 2 neighbors in  the training set. With the obvious influence of the  training values, the model attempts to go through almost all data points, which results  in overfitting, higher model complexity (and therefore higher variance).**

Github link: https://github.com/aanchalkhanna72/aanchalkhanna72