<a href="https://colab.research.google.com/github/aanchalkhanna72/aanchalkhanna72/blob/main/E22001_AML_Experiment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**E22001 Aanchal Khanna**

**Experiment 2: Objective - Observing and Comparing Variance of Decision Tree model when Max_depth is Increased**

**Hypothesis: Decision Tree Model with higher max_depth is more complex, and will probably have higher variance.**

**Let's check if that is reflected in our experiment..**

In [18]:
#importing libraries
import pandas as pd
import numpy as np
from random import sample
from sklearn.tree import DecisionTreeRegressor

In [19]:
#importing dataset through local runtime
cars=pd.read_csv("/Users/aanchalkhanna72/Desktop/Praxis/Term 1/IML/cars.csv")
cars.head()

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,Chevrolet Chevelle Malibu,18.0,8,307.0,130,3504,12.0,70,US,NaN,NaN,NaN,NaN
1,Buick Skylark 320,15.0,8,350.0,165,3693,11.5,70,US,NaN,NaN,NaN,NaN
2,Plymouth Satellite,18.0,8,318.0,150,3436,11.0,70,US,For every,"entity,",there are,7 values so this is 1 observation
3,AMC Rebel SST,16.0,8,304.0,150,3433,12.0,70,US,each variable represents a characteristic of ...,NaN,NaN,NaN
4,Ford Torino,17.0,8,302.0,140,3449,10.5,70,US,entity - 406 cars,NaN,NaN,NaN

In [20]:
#selecting columns for analysis
data=cars[["Horsepower","Cylinders","Weight","Displacement","MPG"]]

In [21]:
#checking data head,length
data.head(),len(data)

(   Horsepower  Cylinders  Weight  Displacement   MPG
 0         130          8    3504         307.0  18.0
 1         165          8    3693         350.0  15.0
 2         150          8    3436         318.0  18.0
 3         150          8    3433         304.0  16.0
 4         140          8    3449         302.0  17.0,
 406)

**Step 1: Test-Train Split**

In [22]:
#segregating test observation from training data
test=data.sample(n=1,random_state=1)
X_test=test[["Horsepower","Cylinders","Weight","Displacement"]]
y_test=test[["MPG"]]

In [23]:
#creating training set for random sampling and model fitting
train=data[["Horsepower","Cylinders","Weight","Displacement","MPG"]]
#dropping test observation from  train  data
train.drop(test.index,inplace=True)
len(X_test),len(y_test),len(train)

(1, 1, 405)

**Step 2: Drawing 200 Random Samples, Fitting Decision Tree (DT) models on respective samples**

**Fitting model on max_depth=4**

In [97]:
y_predictions_dt4=[]
for i in range (1,201):
  #generate 200 random samples  of 80 observations each
  smpl=train.sample(n=80)
  #split training data into predictors and target
  X_train_smpl=smpl[["Cylinders","Horsepower","Weight","Displacement"]]
  y_train_smpl=smpl[["MPG"]]
  #fitting DT model on each sample
        #Step 1: instantiate learning model
  reg_tree=DecisionTreeRegressor(max_depth=4) #default min_samples_leaf=5,max_depth=none
  reg_tree.fit(X_train_smpl,y_train_smpl)
  #predicting the MPG of test observation
  y_pred=reg_tree.predict(X_test)
  y_predictions_dt4.append(y_pred)
print(y_predictions_dt4)

[array([35.1]), array([28.83333333]), array([35.3]), array([35.9625]), array([28.4]), array([32.5]), array([28.125]), array([26.]), array([26.]), array([44.3]), array([25.]), array([30.825]), array([25.]), array([26.]), array([28.875]), array([37.025]), array([0.]), array([27.91388889]), array([43.4]), array([0.]), array([26.]), array([27.]), array([25.]), array([25.25]), array([38.]), array([31.75]), array([0.]), array([23.]), array([33.55]), array([29.69166667]), array([18.53125]), array([25.]), array([26.6]), array([34.08235294]), array([34.5]), array([0.]), array([33.6]), array([32.33333333]), array([20.5]), array([32.4]), array([39.63333333]), array([39.4]), array([26.32857143]), array([35.675]), array([37.7]), array([26.5]), array([43.25]), array([26.2047619]), array([32.71052632]), array([33.05]), array([13.]), array([26.]), array([24.66666667]), array([16.]), array([30.30434783]), array([21.625]), array([40.9]), array([25.5]), array([21.]), array([26.]), array([28.98888889]), array([25.]), array([28.23333333]), array([37.38333333]), array([25.]), array([25.625]), array([22.25]), array([41.4]), array([31.775]), array([38.45555556]), array([26.]), array([40.9]), array([34.5]), array([31.95]), array([29.]), array([29.10714286]), array([25.]), array([44.]), array([0.]), array([30.48571429]), array([34.5]), array([23.3]), array([0.]), array([44.]), array([24.]), array([26.]), array([21.06]), array([26.5]), array([24.5]), array([25.80857143]), array([43.1]), array([27.85]), array([23.825]), array([26.]), array([25.]), array([25.]), array([27.]), array([32.76666667]), array([0.]), array([26.]), array([25.5]), array([26.61034483]), array([21.]), array([24.9]), array([46.6]), array([25.]), array([23.]), array([21.5]), array([43.4]), array([32.34545455]), array([23.6]), array([40.9]), array([26.]), array([40.975]), array([43.55]), array([31.85833333]), array([23.]), array([25.06333333]), array([35.35]), array([40.9]), array([20.]), array([25.]), array([33.05]), array([22.84]), array([36.7]), array([23.9]), array([44.]), array([32.84]), array([43.4]), array([32.64444444]), array([36.55]), array([29.425]), array([34.5]), array([25.]), array([30.24444444]), array([26.02173913]), array([42.4]), array([25.]), array([23.]), array([25.]), array([20.7]), array([30.82631579]), array([27.37142857]), array([25.5]), array([25.17777778]), array([30.60909091]), array([28.85]), array([0.]), array([27.475]), array([31.41666667]), array([26.]), array([31.725]), array([43.4]), array([34.1]), array([31.52]), array([34.72857143]), array([33.15]), array([25.]), array([26.]), array([25.40588235]), array([20.26153846]), array([25.5]), array([36.4]), array([29.]), array([34.6]), array([42.3]), array([27.92857143]), array([27.13]), array([34.5]), array([40.825]), array([0.]), array([20.42727273]), array([21.33333333]), array([26.16666667]), array([31.7]), array([31.63333333]), array([29.9]), array([0.]), array([29.73125]), array([30.69565217]), array([30.36363636]), array([25.83333333]), array([26.]), array([37.33333333]), array([26.]), array([43.4]), array([43.1]), array([26.52916667]), array([21.375]), array([22.17142857]), array([25.]), array([22.25]), array([24.8]), array([30.17894737]), array([19.9]), array([26.04444444]), array([21.5]), array([34.2]), array([43.1]), array([24.5])]

In [98]:
#calcualting variance of the DT model
variance=(np.sum(np.asarray(y_predictions_dt4)**2)/200-1)-(np.mean(y_predictions_dt4)**2)
variance

85.12290964582951

In [99]:
#double checking variance of the DT model
np.var(y_predictions_dt4)

86.1229096458295

**Fitting model on max_depth=8**

In [100]:
y_predictions_dt8=[]
for i in range (1,201):
  #generate 200 random samples  of 80 observations each
  smpl=train.sample(n=80)
  #split training data into predictors and target
  X_train_smpl=smpl[["Cylinders","Horsepower","Weight","Displacement"]]
  y_train_smpl=smpl[["MPG"]]
  #fitting DT model on each sample
        #Step 1: instantiate learning model
  reg_tree=DecisionTreeRegressor(max_depth=8) #default min_samples_leaf=5,max_depth=none
  reg_tree.fit(X_train_smpl,y_train_smpl)
  #predicting the MPG of test observation
  y_pred=reg_tree.predict(X_test)
  y_predictions_dt8.append(y_pred)
print(y_predictions_dt8)

[array([23.5]), array([34.5]), array([22.]), array([34.5]), array([22.]), array([0.]), array([44.]), array([23.]), array([40.9]), array([32.4]), array([22.]), array([34.5]), array([34.5]), array([30.5]), array([44.3]), array([44.]), array([40.9]), array([43.1]), array([26.]), array([34.]), array([24.5]), array([32.62857143]), array([0.]), array([28.8]), array([31.5]), array([34.]), array([33.68]), array([29.9]), array([30.9]), array([30.]), array([26.]), array([34.5]), array([44.]), array([15.]), array([21.]), array([26.]), array([34.7]), array([40.9]), array([25.]), array([36.4]), array([19.]), array([23.]), array([26.]), array([34.5]), array([23.]), array([23.]), array([20.]), array([21.]), array([34.7]), array([25.]), array([36.]), array([26.]), array([34.5]), array([21.]), array([23.]), array([34.5]), array([30.7]), array([26.]), array([34.5]), array([24.5]), array([25.]), array([38.]), array([24.5]), array([46.6]), array([0.]), array([44.]), array([38.]), array([25.]), array([34.5]), array([24.5]), array([23.]), array([26.]), array([25.]), array([32.0375]), array([34.5]), array([43.4]), array([18.]), array([34.5]), array([24.]), array([30.5]), array([23.]), array([24.5]), array([23.]), array([32.55]), array([36.]), array([21.]), array([26.6125]), array([30.]), array([21.]), array([34.7]), array([43.1]), array([44.]), array([34.4]), array([44.3]), array([25.]), array([24.5]), array([36.4]), array([21.]), array([44.3]), array([26.]), array([34.7]), array([0.]), array([23.6]), array([38.]), array([25.]), array([25.]), array([26.]), array([25.5]), array([46.6]), array([34.]), array([21.]), array([25.]), array([29.]), array([21.]), array([36.]), array([25.]), array([34.]), array([44.]), array([40.8]), array([25.]), array([34.5]), array([43.1]), array([34.7]), array([38.]), array([21.]), array([43.4]), array([21.]), array([46.6]), array([43.1]), array([23.]), array([24.5]), array([26.]), array([34.5]), array([25.]), array([26.]), array([23.]), array([34.5]), array([36.]), array([26.]), array([44.]), array([0.]), array([25.]), array([0.]), array([26.]), array([25.]), array([36.]), array([26.]), array([30.]), array([33.]), array([0.]), array([44.3]), array([38.]), array([34.5]), array([34.]), array([44.]), array([25.]), array([34.2]), array([24.]), array([27.]), array([34.5]), array([24.5]), array([30.9]), array([32.2]), array([25.]), array([26.]), array([26.]), array([26.]), array([25.]), array([26.]), array([27.84285714]), array([21.]), array([23.6]), array([21.]), array([21.]), array([33.]), array([0.]), array([36.]), array([24.5]), array([36.]), array([23.]), array([25.]), array([43.1]), array([29.9]), array([26.]), array([33.]), array([34.7]), array([21.]), array([34.5]), array([25.]), array([24.5]), array([32.5]), array([24.2]), array([22.]), array([33.96666667]), array([43.1]), array([25.]), array([46.6]), array([0.]), array([0.]), array([34.5])]

In [101]:
#calcualting variance of the DT model
variance=(np.sum(np.asarray(y_predictions_dt8)**2)/200-1)-(np.mean(y_predictions_dt8)**2)
variance

96.09295688708016

In [102]:
#double checking variance of the DT model
np.var(y_predictions_dt8)

97.09295688708049

**Result: Our hypothesis is proved correct. We see that the variance  of   the DT model with max_depth=8 is more than that of the model with max_depth=4. Since the DT model with max_depth=8 is allowed to grow to a larger size, with more splits and leaf nodes, its model complexity is higher and variance is higher compared to the other model.**

Github link: https://github.com/aanchalkhanna72/aanchalkhanna72