<a href="https://colab.research.google.com/github/aanchalkhanna72/aanchalkhanna72/blob/main/E22001_AML_Experiment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**E22001 Aanchal Khanna**

**Experiment 1: Objective - Observing and Comparing Variance of KNN Model and Decision Tree model using Ensemble Learning**

**Hypothesis: Decision Tree will have higher variance as it is a greedy model and it overfits our data.**

**Let's check if that is reflected in our experiment..**

In [135]:
#importing libraries
import pandas as pd
import numpy as np
from random import sample
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor

In [ ]:
#importing dataset through local runtime
cars=pd.read_csv("/Users/aanchalkhanna72/Desktop/Praxis/Term 1/IML/cars.csv")
cars.head()

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,Chevrolet Chevelle Malibu,18.0,8,307.0,130,3504,12.0,70,US,NaN,NaN,NaN,NaN
1,Buick Skylark 320,15.0,8,350.0,165,3693,11.5,70,US,NaN,NaN,NaN,NaN
2,Plymouth Satellite,18.0,8,318.0,150,3436,11.0,70,US,For every,"entity,",there are,7 values so this is 1 observation
3,AMC Rebel SST,16.0,8,304.0,150,3433,12.0,70,US,each variable represents a characteristic of ...,NaN,NaN,NaN
4,Ford Torino,17.0,8,302.0,140,3449,10.5,70,US,entity - 406 cars,NaN,NaN,NaN

In [ ]:
#selecting columns for analysis
data=cars[["Horsepower","Cylinders","Weight","Displacement","MPG"]]

In [ ]:
#checking data head,length
data.head(),len(data)

(   Horsepower  Cylinders  Weight  Displacement   MPG
 0         130          8    3504         307.0  18.0
 1         165          8    3693         350.0  15.0
 2         150          8    3436         318.0  18.0
 3         150          8    3433         304.0  16.0
 4         140          8    3449         302.0  17.0,
 406)

**Step 1: Test-Train Split**

In [ ]:
#segregating test observation from training data
test=data.sample(n=1,random_state=1)
X_test=test[["Horsepower","Cylinders","Weight","Displacement"]]
y_test=test[["MPG"]]

In [ ]:
#creating training set for random sampling and model fitting
train=data[["Horsepower","Cylinders","Weight","Displacement","MPG"]]
#dropping test observation from  train  data
train.drop(test.index,inplace=True)
len(X_test),len(y_test),len(train)#len(X_train),len(y_train)

(1, 1, 405)

**Step 2: Drawing 200 Random Samples, Fitting KNN models on respective samples**

In [ ]:
#Steps for creating code for :
#drawing 200 random samples
#fitting KNN model on each sample
#predicting the MPG of test observation
#calcualting variance of the model
#repeating the same process for Decision Tree model

y_predictions=[]
for i in range (1,201):
  #generate 200 random samples  of 80 observations each
  smpl=train.sample(n=80)
  #split training data into predictors and target
  X_train_smpl=smpl[["Cylinders","Horsepower","Weight","Displacement"]]
  y_train_smpl=smpl[["MPG"]]
  #fitting KNN model on each sample
        #Step 1: instantiate learning model
  knn=KNeighborsRegressor(metric='euclidean') #5-NN default using euclidean distance  
        #Step 2: fitting the model
  knn.fit(X_train_smpl,y_train_smpl)
  #predicting the MPG of test observation
  y_pred=knn.predict(X_test)
  y_predictions.append(y_pred)
print(y_predictions)

[array([[30.5]]), array([[30.8]]), array([[28.06]]), array([[31.24]]), array([[28.34]]), array([[28.66]]), array([[31.36]]), array([[28.48]]), array([[30.1]]), array([[29.9]]), array([[29.]]), array([[29.84]]), array([[31.12]]), array([[24.6]]), array([[27.96]]), array([[33.64]]), array([[28.14]]), array([[34.42]]), array([[28.6]]), array([[28.2]]), array([[30.1]]), array([[30.04]]), array([[27.66]]), array([[28.6]]), array([[28.82]]), array([[28.62]]), array([[27.78]]), array([[30.32]]), array([[27.7]]), array([[30.58]]), array([[29.12]]), array([[25.1]]), array([[26.]]), array([[27.76]]), array([[28.]]), array([[27.84]]), array([[28.72]]), array([[27.7]]), array([[32.3]]), array([[26.18]]), array([[30.94]]), array([[29.9]]), array([[24.5]]), array([[28.7]]), array([[29.24]]), array([[28.64]]), array([[27.94]]), array([[31.48]]), array([[28.44]]), array([[28.94]]), array([[29.34]]), array([[31.76]]), array([[28.9]]), array([[30.48]]), array([[31.22]]), array([[29.14]]), array([[31.4]]), array([[28.3]]), array([[30.96]]), array([[23.9]]), array([[27.8]]), array([[30.94]]), array([[27.04]]), array([[28.04]]), array([[26.7]]), array([[27.1]]), array([[30.38]]), array([[29.]]), array([[26.5]]), array([[29.24]]), array([[32.34]]), array([[26.38]]), array([[28.2]]), array([[28.4]]), array([[30.04]]), array([[28.44]]), array([[28.24]]), array([[30.66]]), array([[28.6]]), array([[29.44]]), array([[28.28]]), array([[28.08]]), array([[29.28]]), array([[25.8]]), array([[29.7]]), array([[28.54]]), array([[28.12]]), array([[31.08]]), array([[31.52]]), array([[28.34]]), array([[27.98]]), array([[29.96]]), array([[29.68]]), array([[28.24]]), array([[34.6]]), array([[28.98]]), array([[28.6]]), array([[31.1]]), array([[30.18]]), array([[26.2]]), array([[31.54]]), array([[29.58]]), array([[27.3]]), array([[32.14]]), array([[30.44]]), array([[28.88]]), array([[30.66]]), array([[30.42]]), array([[31.64]]), array([[24.6]]), array([[30.86]]), array([[30.82]]), array([[29.74]]), array([[30.36]]), array([[31.6]]), array([[29.38]]), array([[27.56]]), array([[28.82]]), array([[28.86]]), array([[31.5]]), array([[30.54]]), array([[27.64]]), array([[30.78]]), array([[29.14]]), array([[29.6]]), array([[27.3]]), array([[29.74]]), array([[28.28]]), array([[27.74]]), array([[28.6]]), array([[26.4]]), array([[24.7]]), array([[26.4]]), array([[28.84]]), array([[29.2]]), array([[27.92]]), array([[29.]]), array([[26.]]), array([[29.62]]), array([[32.38]]), array([[27.84]]), array([[25.8]]), array([[29.1]]), array([[26.18]]), array([[31.9]]), array([[29.6]]), array([[31.52]]), array([[30.68]]), array([[28.24]]), array([[27.9]]), array([[27.74]]), array([[29.48]]), array([[27.3]]), array([[30.56]]), array([[27.46]]), array([[31.68]]), array([[27.64]]), array([[32.1]]), array([[26.14]]), array([[28.34]]), array([[29.94]]), array([[32.34]]), array([[30.54]]), array([[26.4]]), array([[30.]]), array([[29.]]), array([[28.94]]), array([[33.48]]), array([[24.7]]), array([[25.7]]), array([[30.3]]), array([[29.86]]), array([[29.84]]), array([[28.9]]), array([[27.68]]), array([[27.3]]), array([[25.7]]), array([[29.14]]), array([[26.56]]), array([[28.06]]), array([[28.94]]), array([[28.24]]), array([[28.]]), array([[27.1]]), array([[37.42]]), array([[25.4]]), array([[24.6]]), array([[29.2]]), array([[32.14]]), array([[29.58]]), array([[31.14]]), array([[29.04]]), array([[28.42]]), array([[25.8]]), array([[31.04]]), array([[27.84]]), array([[29.58]]), array([[30.22]]), array([[27.38]]), array([[33.76]])]

In [ ]:
#calcualting variance of the KNN model
variance=(np.sum(np.asarray(y_predictions)**2)/200-1)-(np.mean(y_predictions)**2)
variance

3.2491517499997826

**Step 3: Drawing 200 Random Samples, Fitting Decision Tree (DT) models on respective samples**

In [ ]:
y_predictions_dt=[]
for i in range (1,201):
  #generate 200 random samples  of 80 observations each
  smpl=train.sample(n=80)
  #split training data into predictors and target
  X_train_smpl=smpl[["Cylinders","Horsepower","Weight","Displacement"]]
  y_train_smpl=smpl[["MPG"]]
  #fitting DT model on each sample
        #Step 1: instantiate learning model
  reg_tree=DecisionTreeRegressor() #default min_samples_leaf=5,max_depth=none
  reg_tree.fit(X_train_smpl,y_train_smpl)
  #predicting the MPG of test observation
  y_pred=reg_tree.predict(X_test)
  y_predictions_dt.append(y_pred)
print(y_predictions_dt)

[array([34.]), array([23.6]), array([34.]), array([0.]), array([34.2]), array([34.7]), array([34.]), array([34.5]), array([0.]), array([44.3]), array([36.4]), array([26.]), array([30.7]), array([43.1]), array([44.3]), array([19.]), array([34.5]), array([44.3]), array([21.]), array([23.6]), array([24.]), array([33.]), array([44.3]), array([34.5]), array([34.7]), array([25.]), array([21.]), array([33.]), array([23.5]), array([44.3]), array([34.]), array([34.5]), array([25.]), array([23.]), array([43.4]), array([0.]), array([26.]), array([43.1]), array([34.5]), array([34.7]), array([34.7]), array([43.4]), array([22.]), array([25.]), array([24.]), array([34.5]), array([25.]), array([25.]), array([26.]), array([36.]), array([23.]), array([38.]), array([44.]), array([26.]), array([31.6]), array([34.5]), array([21.]), array([43.4]), array([34.5]), array([34.5]), array([25.]), array([34.5]), array([32.3]), array([0.]), array([34.5]), array([26.]), array([17.]), array([34.5]), array([26.]), array([36.4]), array([34.5]), array([19.8]), array([29.5]), array([26.]), array([21.]), array([21.]), array([34.5]), array([21.]), array([34.7]), array([34.5]), array([25.]), array([25.]), array([40.8]), array([23.]), array([34.7]), array([44.]), array([23.5]), array([23.]), array([34.7]), array([44.3]), array([24.5]), array([34.2]), array([23.]), array([23.9]), array([23.]), array([26.]), array([26.]), array([26.]), array([24.5]), array([29.9]), array([30.9]), array([26.]), array([33.]), array([34.7]), array([23.]), array([19.]), array([46.6]), array([24.5]), array([25.]), array([25.]), array([34.5]), array([34.5]), array([34.5]), array([26.]), array([21.]), array([44.]), array([34.5]), array([34.5]), array([36.]), array([26.]), array([22.]), array([25.]), array([37.]), array([26.]), array([24.]), array([23.]), array([26.]), array([22.]), array([25.]), array([44.3]), array([22.5]), array([34.7]), array([38.]), array([0.]), array([29.9]), array([26.]), array([22.]), array([43.1]), array([36.4]), array([24.]), array([43.4]), array([24.5]), array([23.]), array([44.3]), array([44.3]), array([43.4]), array([33.]), array([44.3]), array([43.1]), array([20.2]), array([24.5]), array([26.]), array([34.5]), array([25.]), array([46.6]), array([21.]), array([26.]), array([24.5]), array([44.3]), array([37.7]), array([30.5]), array([44.]), array([34.5]), array([23.6]), array([34.5]), array([34.5]), array([26.]), array([25.]), array([20.]), array([23.]), array([34.5]), array([44.]), array([24.5]), array([21.]), array([43.4]), array([34.2]), array([21.]), array([0.]), array([21.]), array([40.9]), array([25.]), array([44.3]), array([40.9]), array([34.7]), array([0.]), array([38.]), array([25.]), array([25.]), array([34.5]), array([34.2]), array([23.]), array([40.8]), array([26.]), array([32.4]), array([29.9]), array([44.3]), array([22.]), array([30.9]), array([26.]), array([44.])]

In [ ]:
#calcualting variance of the DT model
variance=(np.sum(np.asarray(y_predictions_dt)**2)/200-1)-(np.mean(y_predictions_dt)**2)
variance

90.14111899999978

**Result: Our hypothesis is proved correct. We see that the variance  of   the DT model is higher than that of KNN model. Since the DT model is allowed to grow to its maximum size in our current model, model complexity is high and variance is high. Compared to KNN, DT model generalizes the training data very well and so, when it is presented with an unknown observation, it will produce more variance in the predicted values of the test observation.**

Github link: (https://github.com/aanchalkhanna72)